<% var it = public[current.path[0]]._data[current.path[1]];
var stem = (it.stem === "") ? "" : "/" + it.stem;
var imgPath = (it.image && it.image.path) ? stem + "/" + it.image.path + ".jpeg" : stem + stem + ".jpeg";
var seoFolder = current.path[0]; %><!DOCTYPE HTML>
<!--
	Identity by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title><%= it.title %> - PlanLazy</title>
		<meta charset="utf-8" />
		<meta name="apple-mobile-web-app-title" content="PlanLazy.com">
		<meta name="application-name" content="PlanLazy.com">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/assets/travel-photos/js/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/travel-photos/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/assets/travel-photos/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/travel-photos/css/ie8.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="/assets/travel-photos/css/noscript.css" /></noscript>
		<link type="text/plain" rel="author" href="http://PlanLazy.com/humans.txt" />
		<meta name="p:domain_verify" content="86ec9590fbc9564e89c84ba5e6629fef"/><% // Pintrest pin ref http://PlanLazy.com %>
		<meta property="og:site_name" content="PlanLazy travel"/>
		<link rel="canonical" href="http://planlazy.com/<%=seoFolder%><%= stem %>" />
		<meta property="og:url" content="http://planlazy.com/<%=seoFolder%><%= stem %>" />
		<meta property="og:title" content="<%= it.title %>" />
		<meta property="og:description" content="<%= it.description %>" />
		<% if (it.image) { %><meta property="og:image" content="http://planlazy.com/<%=seoFolder%><%= imgPath %>" />
		<meta property="og:image:url" content="http://planlazy.com/<%=seoFolder%><%= imgPath %>" />
		<meta property="og:image:type" content="image/jpeg" /> 
		<meta property="og:image:width" content="<%= it.image.width %>" />
		<meta property="og:image:height" content="<%= it.image.height %>" />
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@PlanLazy">
		<meta name="twitter:creator" content="@PlanLazy">
		<meta name="twitter:title" content="<%= it.title %>">
		<meta name="twitter:description" content="<%= it.description %>">
		<meta name="twitter:image" content="http://planlazy.com/<%=seoFolder%><%= imgPath %>"><% } %><% if (it.youtube) { %><meta property="og:image" content="https://i.ytimg.com/vi/<%= it.youtube.id %>/<%= it.youtube.image.quality %>.jpg">
		<meta property="og:image:type" content="image/jpeg" /> 
		<meta property="og:image:width" content="<%= it.youtube.image.width %>" />
		<meta property="og:image:height" content="<%= it.youtube.image.height %>" />
		<meta property="og:image:secure_url" content="https://i.ytimg.com/vi/<%= it.youtube.id %>/<%= it.youtube.image.quality %>.jpg" />
		<meta property="og:video" content="https://www.youtube.com/embed/<%= it.youtube.id %>" />
		<meta property="og:video:secure_url" content="https://www.youtube.com/embed/<%= it.youtube.id %>" />
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@PlanLazy">
		<meta name="twitter:title" content="<%= it.title %>">
		<meta name="twitter:description" content="<%= it.description %>">
		<meta name="twitter:image" content="https://i.ytimg.com/vi/<%= it.youtube.id %>/<%= it.youtube.image.quality %>.jpg"><% } %>
		<meta property="fb:app_id" content="1481567445473126" />
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#8ECC48">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#8ECC48">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta http-equiv="content-language" content="en"><% // Bing Search SEO Tip %>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<a href="/"><img src="/assets/travel-photos/images/logo-medium-600x72.png" id="logo"></a>
						<%- yield %>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>Design: <a href="http://html5up.net/">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="/assets/travel-photos/js/respond.min.js"></script><![endif]-->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-66724222-1', 'auto');
			ga('require', 'linkid', 'linkid.js');
			ga('send', 'pageview');
		</script>
	</body>
</html>