						<% var imgPath = image.path || stem %><h1><%= subject %></h1>
						<h2><%= location %></h2>
						<% if (image) { %>
							<div id="photo" class="<%= image.shape %>" style="background-image: url('/travel-photos/<%= stem %>/<%= imgPath %>.jpeg');"><%= description %></div>
						<% } %>
						<% if (youtube) { %>
							<iframe id="video" src="https://www.youtube.com/embed/<%= youtube.id %>" frameborder="0" allowfullscreen></iframe>
						<% } %>
						<p><%= description %></p>
